.carouselControlBtn {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  position: absolute;
  left: 0;
  opacity: 0.4;
}
.carouselControlBtn > a{
    box-shadow: var(--shadow); 
}
.carousel {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 5rem;
  color: var(--colorbody);
  position: relative;
}
.carouselContainer {
  max-width: 1200px;
}
